@using TestOnLine.Models.Data
@model List<Course>

@if (Model != null && Model.Any())
{
    <h4>搜索结果</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>课程编号</th>
                <th>所属院系</th>
                <th>课程名称</th>
                <th>学分</th>
                <th>学时</th>
                <th>是否考试</th>
                <th>是否结课</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var course in Model)
        {
                    <tr>
                        <td>@course.CourseId</td>
                        <td>@course.FacultyId</td>
                        <td>@course.Name</td>
                        <td>@course.Credit</td>
                        <td>@course.CreditHours</td>
                        <td>@(course.IsExam.ToString() == "True" ? "是" : "否")</td>
                        <td>@(course.IsCompleted.ToString() == "True" ? "是" : "否")</td>
                    </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>没有找到相关课程。</p>
}
